<script setup lang="ts">
import { ref } from "vue";
import { mdiChevronUp } from "@mdi/js";
const show = ref();
</script>

<template>
  <v-container>
    <v-carousel show-arrows="hover">
      <v-carousel-item
        src="https://scontent.futp1-2.fna.fbcdn.net/v/t39.30808-6/320627232_1275296156649447_2970584259432779821_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=730e14&_nc_ohc=kGnIorJtaWMAX_n__nG&_nc_ht=scontent.futp1-2.fna&oh=00_AfASQNZOV-SdWL4rmRvgWI331OKofUjymLP8IXyZ96Lr7g&oe=63A33C57"
        cover
      ></v-carousel-item>

      <v-carousel-item
        src="https://scontent.futp1-2.fna.fbcdn.net/v/t39.30808-6/320550685_680636387118785_7325541265789779782_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_ohc=OivsXXQl_rcAX_hbnDh&_nc_ht=scontent.futp1-2.fna&oh=00_AfCi5VNF_PaHD1UEVMRyzICfrJHd4MIe9vJEAQq_-fywBA&oe=63A28A1C"
        cover
      ></v-carousel-item>

      <v-carousel-item
        src="https://scontent.fbkk23-1.fna.fbcdn.net/v/t39.30808-6/320877018_911648683598264_6505380917858856014_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_ohc=78BxbPqRGyEAX9Z5Rqd&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfDh5nEHqMVrIKqh6_MTR5STu02Dj-Ydi7xDzMkfDSMBBg&oe=63A20D31"
        cover
      ></v-carousel-item>
    </v-carousel>

    <header
      class="w3-container w3-center"
      style="padding: 128px 16px"
      id="home"
    >
      <h1 class="w3-jumbo"><b>Jidapa Maipim</b></h1>
      <p>Sophomore in BURAPHA University.</p>
    </header>
    <!-- Portfolio Section -->
    <div class="w3-padding-32 w3-content" id="portfolio">
      <h2 class="w3-text-grey">My Portfolio</h2>
      <hr class="w3-opacity" />
    </div>
    <v-card class="mx-auto" max-width="344">
      <v-img
        src="https://scontent.fbkk23-1.fna.fbcdn.net/v/t39.30808-6/241191644_1929388940556356_7956907516073337482_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=174925&_nc_eui2=AeHC8l1cH4N6UrrBGytEjt18jkw6V_jblN-OTDpX-NuU38fQypOcN2CN4--p6QGyI_iiQeVcEmTMvIYSS6aNTyH7&_nc_ohc=uQH9-CpMQpYAX9P9npX&_nc_oc=AQnj1yipdmO5KQH59jW2FUj2HNJEswSjtoIZN0uIHwVLwMd7Me4OUJFVpiiPXjizINw&tn=ISQ1xo0qRKlswDYj&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfAUbYHlD1FSiAea8Z9VecpUJhIL19ajBB_P_9tUGuvBjw&oe=63A3ACF5"
        height="200px"
      ></v-img>

      <v-card-title> Identification </v-card-title>

      <v-card-subtitle> My personal information </v-card-subtitle>

      <v-card-actions>
        <v-btn color="orange lighten-2" text> Explore </v-btn>

        <v-spacer></v-spacer>

        <v-btn icon @click="show = !show">
          <v-icon :icon="mdiChevronUp" />
        </v-btn>
      </v-card-actions>

      <v-expand-transition>
        <div v-show="show">
          <v-divider></v-divider>

          <v-card-text>
            Mobile : 095-xxx-xxxx <br />
            Email : 64160043@go.buu.ac.th<br />
            Date of Birth : 25 July 2003<br />
            Nationality : Thai <br />
            Age : 19 <br />
            Marital Status : Single
          </v-card-text>
        </div>
      </v-expand-transition>
    </v-card>
    <br />
    <v-card class="mx-auto" max-width="344">
      <v-img
        src="https://scontent.fbkk23-1.fna.fbcdn.net/v/t1.6435-9/121167188_1660672374094682_5390797195029371299_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=174925&_nc_eui2=AeHwccETevSDcq32TAjmpUOBFcnnXB1qDcoVyedcHWoNyid8afZIYMIOX00DMDhIPOAUnvdNumrYGd65v6dTJkAW&_nc_ohc=kH0hI5QnzOkAX8joJQx&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfC50qZ54h5HypsIzKDzarr5oaR6k9zL5peQSH6g8KS9VQ&oe=63C563BC"
        height="200px"
      ></v-img>

      <v-card-title> Skills </v-card-title>

      <v-card-subtitle> My skill in now </v-card-subtitle>

      <v-card-actions>
        <v-btn color="orange lighten-2" text> Explore </v-btn>

        <v-spacer></v-spacer>

        <v-btn icon @click="show = !show">
          <v-icon :icon="mdiChevronUp" />
        </v-btn>
      </v-card-actions>

      <v-expand-transition>
        <div v-show="show">
          <v-divider></v-divider>

          <v-card-text>
            Writing and reading another language.<br />
            Drawing.<br />
          </v-card-text>
        </div>
      </v-expand-transition>
    </v-card>
    <br />
    <v-card class="mx-auto" max-width="344">
      <v-img
        src="https://scontent.fbkk23-1.fna.fbcdn.net/v/t1.18169-9/15965626_719492174879378_3690868585220713901_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=174925&_nc_eui2=AeHNOe_O3rlsVmix332FEmMsRtgOGLG28VpG2A4YsbbxWuRHNVPyptzQmdqBb4j_FJ4d3C2SacFwZLqU--U6ezTb&_nc_ohc=y1sCWKihtLsAX9auHrN&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfA06tZY88sFvbRXq_uru3UC5LEsWfIThogUwPTdvrPXwg&oe=63C58699"
        height="200px"
      ></v-img>

      <v-card-title> Hobbies </v-card-title>

      <v-card-subtitle> My hobbies in now. </v-card-subtitle>

      <v-card-actions>
        <v-btn color="orange lighten-2" text> Explore </v-btn>

        <v-spacer></v-spacer>

        <v-btn icon @click="show = !show">
          <v-icon :icon="mdiChevronUp" />
        </v-btn>
      </v-card-actions>

      <v-expand-transition>
        <div v-show="show">
          <v-divider></v-divider>

          <v-card-text>
            Play game.<br />
            Drawing.<br />
            Reading fictional.<br />
            Codding.<br />
          </v-card-text>
        </div>
      </v-expand-transition>
    </v-card>
    <br />
    <v-table>
      <thead>
        <tr>
          <th class="text-left">Year</th>
          <th class="text-left">Educational Level</th>
          <th class="text-left">Academy</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2005-2007</td>
          <td>Nursery School</td>
          <td>THEWARAK School</td>
        </tr>
        <tr>
          <td>2008-2014</td>
          <td>Primary School</td>
          <td>THEWARAK School</td>
        </tr>
        <tr>
          <td>2015-2020</td>
          <td>Secondary School</td>
          <td>PRACHINRATSADORNAMROONG School</td>
        </tr>
        <tr>
          <td>2021-present</td>
          <td>University</td>
          <td>BURAPHA University</td>
        </tr>
      </tbody>
    </v-table>
    <br />
  </v-container>
</template>

<style scoped>
.backg {
  background-color: aquamarine;
  padding: 33%;
}
</style>
