<script setup lang="ts">
import FrameworkPop from "@/components/FrameworkPop.vue";
import { ref, computed } from "vue";
const frameList = ref([
  {
    name: "VueJS",
    img: "https://www.svgrepo.com/show/349557/vue.svg",
    rating: 10,
  },
  {
    name: "AngularJS",
    img: "https://www.svgrepo.com/show/303230/angular-icon-logo.svg",
    rating: 20,
  },
  {
    name: "ReactJS",
    img: "https://www.svgrepo.com/show/354259/react.svg",
    rating: 14,
  },
]);
function changeRating(index: number, rating: number) {
  console.log("action" + index + " :" + rating);
  frameList.value[index].rating = rating;
}
const orderList = computed(() => {
  return [...frameList.value].sort((n1, n2) => n2.rating - n1.rating);
});
</script>

<template>
  <v-contanier>
    <v-row>
      <v-col v-for="(item, index) of frameList" :key="index">
        <FrameworkPop
          :name="item.name"
          :img="item.img"
          :rating="item.rating"
          :index="index"
          @action="changeRating"
        ></FrameworkPop>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>order</th>
              <th>name</th>
              <th>rating</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of orderList" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name + 1 }}</td>
              <td>{{ item.rating + 1 }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-contanier>
</template>
